.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}

.form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.form-label input {
  margin-left: 10px;
  background-color: aliceblue;
  margin: 10px 0;
}

.form-submit {
  padding: 10px;

  display: block;
  margin: 0 auto;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #9c27b0;
}

.form-submit:hover {
  background-color: rgb(57, 231, 57);
}
h1 {
  color: rgb(60, 52, 95);
}
