.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.contactTable {
  border-collapse: collapse;
  width: 0 auto;
  background-color: aliceblue;
}

.contactTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.contactName,
.contactNumber {
  margin: 0;
}

.deleteButton {
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: gray;
}

.deleteButton:hover {
  background-color: red;
}
h2 {
  color: rgb(60, 52, 95);
}
