.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-label input {
  margin-left: 10px;
}

.form-submit {
  margin-top: 10px;

  color: #fff;
  border: none;
  cursor: pointer;
  background-color: rgb(216, 219, 47);
}

.form-submit:hover {
  background-color: rgb(57, 231, 57);
}
